In [1]:
import pandas as pd

In [141]:
users = pd.read_csv('users.csv', sep=';').drop_duplicates()
participants = pd.read_csv('participants.csv', sep=';')
lessons = pd.read_csv('lessons.csv', sep=';').drop(['sche', 'duled_time'], axis=1)
quality = pd.read_csv('quality.csv', sep=';')

In [142]:
users

                                       id   role
0    e28351f5-4ccb-4549-8647-d43f2b15e7b8  pupil
1    4df2832a-1d63-4453-9659-43993fc35996  tutor
2    bb1c0bc8-1212-452b-97a0-439d4a2169e2  pupil
3    63441abe-c4da-4275-ba26-66f7dbd65dde  tutor
4    a1323b68-c82c-429a-8e2c-65597e648c1a  tutor
..                                    ...    ...
729  9a192e4d-473f-4f81-af68-1b422bd814f6  tutor
733  720868c1-3d34-44a7-a23e-6c4a0fac609a  pupil
738  582e6abb-dd9a-42fa-b441-455eac28327e  pupil
740  d3364cf3-46cc-4e64-ad11-70a069f7c049  pupil
742  f76609c8-ba5d-4818-9b57-097debc90cab  pupil

[268 rows x 2 columns]

In [4]:
participants

     event_id                               user_id
0       38114  e28351f5-4ccb-4549-8647-d43f2b15e7b8
1       38114  4df2832a-1d63-4453-9659-43993fc35996
2       51568  bb1c0bc8-1212-452b-97a0-439d4a2169e2
3       51568  63441abe-c4da-4275-ba26-66f7dbd65dde
4       52790  a1323b68-c82c-429a-8e2c-65597e648c1a
..        ...                                   ...
738     50304  ab7149fc-b650-4b6b-a368-0581f78276ea
739     49880  8476b612-223f-4c86-9b0b-14bc04759233
740     49880  582e6abb-dd9a-42fa-b441-455eac28327e
741     55449  ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb
742     55449  d3364cf3-46cc-4e64-ad11-70a069f7c049

[743 rows x 2 columns]

In [5]:
lessons

                                       id  event_id subject    scheduled_time
0    1e7bb408-cfef-4a9f-8328-351c9483a64c     38114    phys  19.01.2020 12:00
1    6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a     51568      it  19.01.2020 13:00
2    62e1a078-33de-47c1-99d2-845b1daca56f     52790    hist  19.01.2020 13:00
3    00fc6685-f53a-49bb-b960-5e0042fd3852     51341    phys  17.01.2020 12:00
4    4cadf623-82e6-422f-a342-acf978302fb2     55048    phys  19.01.2020 14:00
..                                    ...       ...     ...               ...
373  f579351b-177c-4c1c-850a-58bbda8b0b22     48887    hist  15.01.2020 13:45
374  056c3d91-dce7-4071-91d3-1de816ee63a3     51001    hist  17.01.2020 12:45
375  c64a1daf-d7f5-4c8c-ac9f-df634d77327b     50304     bio  11.01.2020 11:00
376  aa7702bc-5271-469c-a1c2-b7e814fd7e20     49880     bio  16.01.2020 15:00
377  8643fa00-217a-42ae-a27d-e6f47c0501f1     55449     bio  19.01.2020 12:15

[378 rows x 4 columns]

In [6]:
quality

                                lesson_id  tech_quality
0    6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a           5.0
1    62e1a078-33de-47c1-99d2-845b1daca56f           5.0
2    62e1a078-33de-47c1-99d2-845b1daca56f           5.0
3    00fc6685-f53a-49bb-b960-5e0042fd3852           5.0
4    00fc6685-f53a-49bb-b960-5e0042fd3852           5.0
..                                    ...           ...
360  c64a1daf-d7f5-4c8c-ac9f-df634d77327b           5.0
361  aa7702bc-5271-469c-a1c2-b7e814fd7e20           5.0
362  8643fa00-217a-42ae-a27d-e6f47c0501f1           5.0
363  7a15af58-39d0-4207-bfdf-3fa176b7fb4e           5.0
364  7a15af58-39d0-4207-bfdf-3fa176b7fb4e           5.0

[365 rows x 2 columns]

In [119]:
#1. Найти все уроки по физике.
phys = lessons[lessons['subject'] == 'phys']
phys

                                       id  event_id subject    scheduled_time
0    1e7bb408-cfef-4a9f-8328-351c9483a64c     38114    phys  19.01.2020 12:00
3    00fc6685-f53a-49bb-b960-5e0042fd3852     51341    phys  17.01.2020 12:00
4    4cadf623-82e6-422f-a342-acf978302fb2     55048    phys  19.01.2020 14:00
6    e597a79a-3f68-4d15-bc77-c7000bcf8e52     53026    phys  19.01.2020 15:00
8    ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17     51645    phys  19.01.2020 14:00
..                                    ...       ...     ...               ...
366  e90f529b-1061-4efd-9bba-f73ecee2ef27     55490    phys  19.01.2020 08:00
367  f0002160-e57e-4e90-ac7e-c8fcdbbae26f     41963    phys  19.01.2020 09:00
368  8a1bac54-c5c6-47c9-8fdb-36d01384eaae     55881    phys  19.01.2020 15:00
369  457accf4-bd99-4b9d-b540-ef200e65afbd     49007    phys  19.01.2020 05:00
371  403707fd-b110-4216-b678-6dbc92eb6fad     41964    phys  19.01.2020 11:00

[184 rows x 4 columns]

In [122]:
phys_participants = phys.merge(participants, on='event_id')

In [123]:
phys_participants

,id,event_id,subject,scheduled_time,user_id
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,19.01.2020 12:00,e28351f5-4ccb-4549-8647-d43f2b15e7b8
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,19.01.2020 12:00,4df2832a-1d63-4453-9659-43993fc35996
2,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,19.01.2020 12:00,e28351f5-4ccb-4549-8647-d43f2b15e7b8
3,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,19.01.2020 12:00,4df2832a-1d63-4453-9659-43993fc35996
4,2e3b1173-7edb-4737-9500-a23d7b852518,38114,phys,12.01.2020 12:00,e28351f5-4ccb-4549-8647-d43f2b15e7b8
...,...,...,...,...,...
482,459ed706-9310-477f-9f51-7a290b28b6a8,53917,phys,20.01.2020 08:00,9fb1e9b4-9765-486f-ac51-4444213e39ca
483,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,19.01.2020 08:00,43efce48-94b2-4412-857f-223d45969008
484,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,19.01.2020 08:00,b323a494-40c0-4522-8d63-4d4d591a1def
485,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881,phys,19.01.2020 15:00,c6718d0e-976c-4d6c-b0e0-32c770776567
486,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881,phys,19.01.2020 15:00,3c94e328-9fb6-44d8-baa8-46a81e214ceb

In [137]:
phys_participants_quality = phys_participants.merge(quality, left_on='id', right_on='lesson_id', how='inner').drop('id', axis=1)

In [138]:
phys_participants_quality

,event_id,subject,scheduled_time,user_id,lesson_id,tech_quality
0,38114,phys,12.01.2020 12:00,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5.0
1,38114,phys,12.01.2020 12:00,4df2832a-1d63-4453-9659-43993fc35996,2e3b1173-7edb-4737-9500-a23d7b852518,5.0
2,38114,phys,12.01.2020 12:00,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5.0
3,38114,phys,12.01.2020 12:00,4df2832a-1d63-4453-9659-43993fc35996,2e3b1173-7edb-4737-9500-a23d7b852518,5.0
4,51341,phys,17.01.2020 12:00,4ab072ed-8a41-4ed6-9877-8f1d1fbb24d2,00fc6685-f53a-49bb-b960-5e0042fd3852,5.0
...,...,...,...,...,...,...
543,53917,phys,20.01.2020 08:00,9fb1e9b4-9765-486f-ac51-4444213e39ca,459ed706-9310-477f-9f51-7a290b28b6a8,5.0
544,55490,phys,19.01.2020 08:00,43efce48-94b2-4412-857f-223d45969008,e90f529b-1061-4efd-9bba-f73ecee2ef27,5.0
545,55490,phys,19.01.2020 08:00,43efce48-94b2-4412-857f-223d45969008,e90f529b-1061-4efd-9bba-f73ecee2ef27,4.0
546,55490,phys,19.01.2020 08:00,b323a494-40c0-4522-8d63-4d4d591a1def,e90f529b-1061-4efd-9bba-f73ecee2ef27,5.0
547,55490,phys,19.01.2020 08:00,b323a494-40c0-4522-8d63-4d4d591a1def,e90f529b-1061-4efd-9bba-f73ecee2ef27,4.0

In [148]:
res = phys_participants_quality.merge(users, left_on='user_id', right_on='id')

In [167]:
res.fillna(0, inplace=True)

In [169]:
res

,event_id,subject,scheduled_time,user_id,lesson_id,tech_quality,id,role
0,38114,phys,12.01.2020 12:00,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,e28351f5-4ccb-4549-8647-d43f2b15e7b8,pupil
1,38114,phys,12.01.2020 12:00,e28351f5-4ccb-4549-8647-d43f2b15e7b8,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,e28351f5-4ccb-4549-8647-d43f2b15e7b8,pupil
2,38114,phys,12.01.2020 12:00,4df2832a-1d63-4453-9659-43993fc35996,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,4df2832a-1d63-4453-9659-43993fc35996,tutor
3,38114,phys,12.01.2020 12:00,4df2832a-1d63-4453-9659-43993fc35996,2e3b1173-7edb-4737-9500-a23d7b852518,5.0,4df2832a-1d63-4453-9659-43993fc35996,tutor
4,50880,phys,12.01.2020 09:30,4df2832a-1d63-4453-9659-43993fc35996,883e272f-c15b-4bf7-8066-f4a8e1862249,5.0,4df2832a-1d63-4453-9659-43993fc35996,tutor
...,...,...,...,...,...,...,...,...
543,47780,phys,19.01.2020 06:00,7b913e7a-cfb4-4383-93c7-ddccbafc8850,2f3c2e0a-e188-420e-ae83-8673ea692d66,5.0,7b913e7a-cfb4-4383-93c7-ddccbafc8850,pupil
544,53917,phys,20.01.2020 08:00,9fb1e9b4-9765-486f-ac51-4444213e39ca,459ed706-9310-477f-9f51-7a290b28b6a8,3.0,9fb1e9b4-9765-486f-ac51-4444213e39ca,pupil
545,53917,phys,20.01.2020 08:00,9fb1e9b4-9765-486f-ac51-4444213e39ca,459ed706-9310-477f-9f51-7a290b28b6a8,5.0,9fb1e9b4-9765-486f-ac51-4444213e39ca,pupil
546,55490,phys,19.01.2020 08:00,b323a494-40c0-4522-8d63-4d4d591a1def,e90f529b-1061-4efd-9bba-f73ecee2ef27,5.0,b323a494-40c0-4522-8d63-4d4d591a1def,pupil
547,55490,phys,19.01.2020 08:00,b323a494-40c0-4522-8d63-4d4d591a1def,e90f529b-1061-4efd-9bba-f73ecee2ef27,4.0,b323a494-40c0-4522-8d63-4d4d591a1def,pupil

In [225]:
res[res['user_id'] == 'eb47bfc8-ff11-42cd-a48b-1c88aca067f7']

,event_id,subject,scheduled_time,user_id,lesson_id,tech_quality,id,role
523,48696,phys,18.01.2020 08:00,eb47bfc8-ff11-42cd-a48b-1c88aca067f7,e3b40613-d6ca-41f2-a7b4-d6eabe3247e0,0.0,eb47bfc8-ff11-42cd-a48b-1c88aca067f7,tutor
524,44383,phys,17.01.2020 16:00,eb47bfc8-ff11-42cd-a48b-1c88aca067f7,84fa104f-4f17-4277-b281-809c80755355,5.0,eb47bfc8-ff11-42cd-a48b-1c88aca067f7,tutor

In [224]:
avgs = pd.DataFrame(res.groupby(['user_id', 'role'])['tech_quality'].mean()).reset_index()
avgs[avgs['role'] == 'tutor']

                                 user_id   role  tech_quality
6   1c39e78f-6ded-4b2e-83d6-036ca34ecfdc  tutor      5.000000
11  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff  tutor      4.846154
12  30a19496-bdaf-461c-abbc-2709ae520201  tutor      4.882353
20  43efce48-94b2-4412-857f-223d45969008  tutor      4.488889
25  4df2832a-1d63-4453-9659-43993fc35996  tutor      5.000000
30  603b8641-c6f6-4d89-ac89-88e50d45aa0d  tutor      4.187500
36  696c838e-c054-4e9f-a51a-50bf5660f364  tutor      4.804348
47  8fe03f08-8581-430c-a590-9888ab36deb3  tutor      4.666667
51  9b26952c-3470-4032-a9cd-f1e9d4f90ece  tutor      5.000000
63  b37ccae8-fc31-4ad8-8f55-ca855b23fbf6  tutor      5.000000
67  be676776-8366-4c71-8a35-d58014806eb5  tutor      4.900000
68  c0c073c8-cb9c-4ebc-ac13-472c06029591  tutor      5.000000
70  c31d06f1-b667-489f-af70-d2c88402826c  tutor      5.000000
73  c6718d0e-976c-4d6c-b0e0-32c770776567  tutor      4.000000
88  eb47bfc8-ff11-42cd-a48b-1c88aca067f7  tutor      2.500000

In [226]:
print(f'День: 18.01.2020 08:00, учитель: eb47bfc8-ff11-42cd-a48b-1c88aca067f7, оценка: 2.5')

День: 18.01.2020 08:00, учитель: eb47bfc8-ff11-42cd-a48b-1c88aca067f7, оценка: 2.5